<section>
    <div class="row text-center">
        <div class="col-lg-12">
            <h1>Who Am I?</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-4 bg-primary">
            <h2>Contact Me</h2>
            <ul data-bind="fadeVisible: showStep1" class="list-unstyled text-left">
                <li>
                    <h3>
                        <button class="btn btn-default">
                            <i class="fa fa-envelope fa-2x"></i></button>
                        &nbsp;riceboyler@outlook.com
                    </h3>
                </li>
                <li>
                    <h3>
                        <button class="btn btn-default"><i class="fa fa-twitter fa-2x"></i></button>
                        &nbsp;@riceboyler
                    </h3>
                </li>
                <li>
                    <h3>
                        <button class="btn btn-default">
                            <i class="fa fa-facebook fa-2x"></i>
                        </button>
                        &nbsp;facebook.com/riceboyler
                    </h3>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h2>Background</h2>
            <ul data-bind="fadeVisible: showStep2" class="list-unstyled text-left">
                <li>
                    <h3>Software Developer for 12 years</h3>
                    <h3>Worked primarily with Durandal for last 18 months</h3>
                    <h3>Lived in Nashville area until 6 weeks ago</h3>
                    <h3>Now in Tallahassee, FL
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h2>Hobbies</h2>
            <ul data-bind="fadeVisible: showStep3" class="list-unstyled text-left">

            </ul>
        </div>
    </div>
</section>